{% extends feincms_page.template.path|default:"base.html" %}
{% load feincms_tags i18n %}

{% block extrahead %}<link rel="permalink" href="{{ entry.get_absolute_url }}">{% endblock extrahead %}

{% block title %}{% trans "Blog" %} - {{ object }}{% endblock %}

{% block content %}
<article class="hentry">
    <header>
        <h1 class="entry-title">{{ object }}</h1>
        <span class="small byline">
            {% if entry.author.get_full_name %}
            <span class="author source-org vcard">
                {% trans 'by' %} <span class="fn">{{ entry.author.get_full_name }}</span> |
            </span>
            {% endif %}
            <time datetime="{{ entry.published_on|date:'c' }}" pubdate>{{ entry.published_on|date:"DATE_FORMAT" }}</time>
            <time class="updated" datetime="{{ entry.last_changed|date:'c' }}"></time>
            {% with entry.categories.all as categories %}
            {% if categories %}|
            {% for category in categories %}
                <a href="{{ category.get_absolute_url }}" rel="tag">{{ category }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}
        </span>
    </header>
    <div class="entry-content">
        {% feincms_render_region object "main" request %}
    </div>
</article>
{% endblock %}