/*
    Admin theming styles
    This is an override of django-admin-tools
    admin_tools/media/admin_tools/css/theming.css


@import base.sass

#header
    background-color= !background_color
    #user-tools
        +fontfamily
        text-transform: uppercase
        font-size: 1.0em
        color= !text_color
        a
            &:link
                color= !link_color
            &:visited
                color= !link_color
            &:hover
                color= !link_hover_color
        padding:
            top: 11px
    #branding
        border-bottom= 3px "solid" !link_color
        h1
            +fontfamily
            text-transform: uppercase
            font-size: 1.5em
            color= !link_color
            margin: 0
            padding:
                top: 8px
                bottom: 7px
                left: 15px
            height: 20px
            width: 500px
    ul#navigation-menu
        li
            &.first
                a
                    background= "transparent" image_url("home_16x16.png") "no-repeat" 3px 2px
            a
                &:link
                    color= !link_color
                &:visited
                    color= !link_color
                &:hover
                    color= !link_hover_color

#content
    h1
        +fontfamily
        text-transform: uppercase
        font-weight: normal
        font-size: 1.5em
        color= !link_color
    .dashboard-column.ui-sortable
        margin-left: -10px
        margin-right: 10px

div
    &.breadcrumbs
        display: block
        padding: 10px 15px
        border: 0
        background-position: 0 -8px
        border-bottom: 1px solid #ededed
        +fontfamily
        text-transform: uppercase
        font-size: 0.9em
        a
            display: inline
            &:link
                color= !link_color
            &:visited
                color= !link_color
            &:hover
                color= !link_hover_color
            